/* .bg-img {
  background: url(../images/geometricBG.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.bg {
  background-color: #202020;
}

.intro-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 180px;
}

.header, .sub-header {
  color: white;
}

.header {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: 96px;
}

.sub-header {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 200;
  font-size: 36px;
}