#hero {
  height: 100vh;
  background-color: #202020;
  color: white;
}

#hero .container {
  padding-left: 16px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
  text-transform: uppercase;
}

#hero h2 {
  margin-bottom: 30px;
  font-size: 30px;
}

/* #hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 10px 28px;
  transition: 0.5s;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-get-started:hover {
  background: tomato;
  border-color: tomato;
} */

.title-img {
  height: 200px;
}

@media (max-width: 991px) {
  .title-img {
    display: none;
  }
}

@media (max-width: 768px) {
  .title-text {
    top: -75px;
  }
  #hero h1 {
    font-size: 56px;
    line-height: 64px;
  }
  #hero h2 {
    font-size: 24px;
  }
}