#hero {
  height: calc(100vh - 70px);
  background-color: #202020;
}

#hero .hero-container {
  padding-left: 16px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
  color: white;
}

#hero h2 {
  margin-bottom: 24px;
  font-size: 30px;
  color: tomato;
}

#hero .btn-projects {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 10px 22px;
  transition: 0.5s;
  border: 2px solid white;
  color: white;
}

#hero .btn-projects:hover {
  background: tomato;
  border-color: tomato;
}

.title-img {
  height: 160px;
}

@media (max-width: 991px) {
  .title-img-col {
    text-align: end;
  }
}

@media (max-width: 480px) {
  #hero {
    height: calc(100vh - 100px);
  }
  #hero h1 {
    font-size: 60px;
  }
  .title-img {
    display: none;
  }
}

