#nav-style {
  position: fixed;
  top: 0;
  width: 100%;  
  background-color: #202020;
}

#basic-navbar-nav {
  font-size: 18px;
  font-weight: 450;
}

#nav-brand {
  font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 36px;
  padding: 0;
}

/* .contact {
  border: 2px solid white;
  border-radius: 5px;
  padding: 3px;
} */

nav a {
  color: white;
  transition: all 200ms;
}

nav a:hover {
  color: tomato;
  text-decoration: none;
}

nav a.active {
  font-weight: bold;
  color: tomato;
}