.ProjectCard:hover {
  cursor: pointer;
  opacity: 0.6;
  transition-duration: 0.2s;
}

.card-img {
  width: 100%; 
  object-fit: cover;
  border: none;
}

.card-body, modal-card-body {
  background-color: black;
  opacity: 0.9;
  color: white;
}

.modal {
  backdrop-filter: blur(2px);
}

a:hover {
  text-decoration: none;
  font-weight: bold;
}

