.Projects {
  height: calc(100vh - 70px);
  color: white;
  background-color: #202020;
}

hr {
  height: 2px;
  background-color: white;
}

.projects-list {
  padding-inline: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(226px, 1fr));
  grid-gap: 20px;
}